/* PAGINA PRINCIPAL EL HEADER Y FOOTER */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #FFF5E1;
    color:#5D4037;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #d3b39ed2;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(139, 69, 19, 0.08);
    position: sticky;
    top: 0;
    z-index: 100;
}

.title h2 {
    font-size: 20px;
    text-align: left;
}

.nav{
    font-family: 'Pacifico', cursive;
    color: #8B4513;
    font-size: 18px;
}

.nav a,
.auth a,
.footer a {
    color: #75003b;
    text-decoration: none;
    margin: 0 5px;
}

.nav a:hover {
    color:#8b4513;
}

.cart {
    background-color: #e99bd8;
    color: #0a0a0a;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.cart img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer {
    background-color: #5D4037;
    color: #FFF5E1;
    text-align: center;
    padding: 25px;
    font-size: 14px;
    margin-top: auto;
}

.carrito-container {
    width: 90%;
    max-width: 1000px;
    margin:40px auto;
    min-height: 500px;
}

.carrito-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

#productosCarrito {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#productosCarrito div {
    border-bottom: 1px solid #ddd;;
    padding: 20px 10px;
}

#productosCarrito h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

#productosCarrito p {
    font-size: 16px;
}

.total-carrito {
    background-color: white;
    margin-top: 20px;
    padding: 25px;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.total-carrito h2 {
    font-size: 24px;
}

#vaciarcarrito {
    background-color: #8B4B3B;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

#vaciarcarrito:hover {
    background-color: #6f382d;
}